<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<% if @events.empty? %>
  <%= 'No events found' %>
<% else%>
  <ul>
    <% @events.each do |event| %>
      <li>
        <div><%= event.date %></div>
        <div><%= event.location %></div>
      </li>
    <% end %>
  </ul>
<% end %>